:root {
  // accent
  --color-accent-100: #ECF6F6;
  --color-accent-300: #B9E6E8;
  --color-accent-500: #7CD0D3;
  --color-accent-700: #19B2B8;
  --color-accent-900: #37D0D6;

  // success
  --color-success-100: #F4F8EC;
  --color-success-300: #C8DEB3;
  --color-success-500: #92C064;
  --color-success-700: #46760A;
  --color-success-900: #6A983C;

  // danger
  --color-danger-100: #FFF1ED;
  --color-danger-300: #F7C6B7;
  --color-danger-500: #EB8D70;
  --color-danger-700: #C7522D;
  --color-danger-900: #E5704B;

  // warning
  --color-warning-100: #FFF9F0;
  --color-warning-300: #FAEDD8;
  --color-warning-500: #ECD2A6;
  --color-warning-700: #B28A48;
  --color-warning-900: #D0A866;

  // light
  --color-light-100: #F9F9F9;
  --color-light-300: #F5F5F5;
  --color-light-500: #edf3fa;
  --color-light-700: #d5dae0;
  --color-light-900: #F9F9F9;

  // dark
  --color-dark-100: #EBEBEB;
  --color-dark-300: #D1D1D1;
  --color-dark-500: #A9A9A9;
  --color-dark-700: #575757;
  --color-dark-900: #151515;
}
