:root {
  // line heights
  --line-height-m: 1.2;
  --line-height-l: 45px;

  // font sizes
  --font-size-xs: 12px;
  --font-size-s: 15px;
  --font-size-m: 18px;
  --font-size-l: 22px;
  --font-size-xl: 26px;
  --font-size-xxl: 32px;

  // font weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}